<h1><strong>Your Bookings</strong></h1>
<div>
  <h3>Pending Bookings</h3>
  <div class="cards-grid">
    <div class="col">
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1527786356703-4b100091cd2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"/>
        <div class="card-product-infos">
          <h3>Speeder 1</h3>
          <h4>Toyota Capris 1997</h4>
          <a class="btn btn-gradient space-top" href="#">More</a>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
<div>
  <h3>Upcoming Bookings</h3>
    <div class="cards-grid">
      <div class="col">
        <div class="card-product">
          <img src="https://images.unsplash.com/photo-1613750590555-5ad35bd95a99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"/>
          <div class="card-product-infos">
            <h3>Speeder 2</h3>
            <h4>Honda Lapris 1995</h4>
            <a class="btn btn-gradient space-top" href="#">More</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-product">
          <img src="https://images.unsplash.com/photo-1606759163253-094133091882?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"/>
          <div class="card-product-infos">
            <h3>Speeder 4</h3>
            <h4>Honda Japris 1995</h4>
            <a class="btn btn-gradient space-top" href="#">More</a>
          </div>
        </div>
      </div>
    </div>
</div>
<div>
  <h3>Past Bookings</h3>
  <div class="cards-grid">
    <div class="col">
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1527786356703-4b100091cd2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"/>
        <div class="card-product-infos">
          <h3>Speeder 1</h3>
          <h4>Toyota Capris 1997</h4>
          <a class="btn btn-gradient space-top" href="#">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1527786356703-4b100091cd2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"/>
        <div class="card-product-infos">
          <h3>Speeder 1</h3>
          <h4>Toyota Capris 1997</h4>
          <a class="btn btn-gradient space-top" href="#">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1527786356703-4b100091cd2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"/>
        <div class="card-product-infos">
          <h3>Speeder 1</h3>
          <h4>Toyota Capris 1997</h4>
          <a class="btn btn-gradient space-top" href="#">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <h3>Canceled Bookings</h3>
  <div class="cards-grid">
    <div class="col">
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1613750590555-5ad35bd95a99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"/>
        <div class="card-product-infos">
          <h3>Speeder 2</h3>
          <h4>Honda Lapris 1995</h4>
          <a class="btn btn-gradient space-top" href="#">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1606759163253-094133091882?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"/>
        <div class="card-product-infos">
          <h3>Speeder 4</h3>
          <h4>Honda Japris 1995</h4>
          <a class="btn btn-gradient space-top" href="#">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
