<div class="container">
  <%# UNLESS CURRENT_USER.ID DOESNT EXISTS IN VANS TABLE USER ID COLUMn %>
  <%# <h1>Your Bookings (Host)</h1>
  <h3>Pending Bookings</h3>
  <h3>Upcoming Bookings</h3>
  <h3>Past Bookings</h3>
  <h3>Canceled Bookings</h3>
  <br> %>
  <%= render "your_trip" %>
  <%= render "host_trip" %>
  <%= render "bookmarks" %>
</div>
