<div class="container">
  <h1>Dashboard Temp</h1>
  <p>Logic for 'if host, show host dashboard info' here</p>
  <br>
  <%# <h1>Your Bookings (Host)</h1>
  <h3>Pending Bookings</h3>
  <h3>Upcoming Bookings</h3>
  <h3>Past Bookings</h3>
  <h3>Canceled Bookings</h3>
  <br> %>
  <%= render "your_trip" %>
  <%= render "host_trip" %>
  <h1><strong>Your Bookmarks</strong></h1>
</div>
