// Specific CSS for your home-page
.search-container {
  background-color: #E9E5D6;
  border-radius: 32px;
  padding: 12px;
  width: 60%;
  opacity: 96%;
}

.no-margin {
  margin-bottom: 0 !important;
}


.add-border-radius {
  border-radius: 12px;
}
