.search-container {
  // margin: 15px;
  background-color: white;
  border-radius: 32px;
  padding: 12px;
  width: 96%;
  opacity: 96%;
}

.no-margin {
  margin-bottom: 0 !important;
}


.add-border-radius {
  border-radius: 12px;
}

.space-evenly {
  justify-content: space-evenly;
}

.flex-2 {
  flex-grow: 1;
}
